body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color:white;
  padding: 10px 20px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 12px;
  transition: background 0.3s;
}

.navbar ul li a:hover {
  background-color: #a17575;
  border-radius: 4px;
}
